.form-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px 10px 100px;
    border-radius: 20px;
}

.form-modal-login {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0 100px 0 100px;
}

.demo-button {
    border: none;
    margin-bottom: 10px;
    background-color: rgba(3, 91, 150, 0.877);
    color: white;
    padding: 10px 28px;
}

.login-h1 {
    padding: 10px 0 140px 0;
}

.error {
    display: flex;
    align-items: center;
    color: red;
    height: 28px;
    max-width: 210px;
    margin-top: 10px;
}
