.checkout-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    font-size: 28px;
}

#spinner {
    font-size: 82px;
    /* color: green; */
}

#check {
    font-size: 82px;
    color: green;
}

.confirming-modal {
    padding: 0 4px;
}
