.alice-carousel__dots {
    padding-top: 10px;
    margin: 0 auto;
    height: 30px;
    background-color: rgba(255, 255, 255, .65);
    border-radius: 20px 20px 0 0;
}

.alice-carousel__dots-item {

    margin: 0 auto;
}

.alice-carousel__prev-btn {
    height: 30px;
    background-color: rgba(255, 255, 255, .65);
    padding:0 10px 30px 10px;
    align-self: center;
    border-radius: 0 0 0 20px;
}

.alice-carousel__next-btn {
    margin: 0 auto;
    height: 30px;
    color: blue;
    background-color: rgba(255, 255, 255, 0.65);
    padding:0 10px 30px 10px;
    border-radius: 0 0 20px 0;
}

.alice-carousel__play-btn {
    color:yellow;
  }
