.close-button-space {
    height: 20px;
}

.gallery-container-user {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    height: 100vh;
}

.card-badge {
    position: relative;
    top: 60px;
    left: 160px;
    width: 80px;
}
