.close-button-space {
    height: 20px;
}

.gallery-container-user {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    height: 88vh;
    background-size: 100%;
}

.card-badge {
    position: relative;
    top: 60px;
    left: 160px;
    width: 80px;
}

/* @media screen and (max-width: 1270px) {
    .gallery-container-user {
        background-size: 30%;
    }
}

@media screen and (max-width: 1000px) {
    .gallery-container-user {
        background-size: 35%;
    }
}

@media screen and (max-width: 750px) {
    .gallery-container-user {
        background-size: 42%;
    }
} */

@media screen and (max-width: 500px) {
    .item-card-user {
        margin-left: 40px;
    }
}
