.close-button-space {
    height: 20px;
}

.gallery-container-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 120px;
    /* height: 88vh; */
    background-size: 100%;
}

.card-badge {
    position: relative;
    top: 60px;
    left: 160px;
    width: 80px;
}

.edit-button {
    border: none;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    padding: 6px 46px;
}

.edit-button:hover {
    background-color: rgba(0, 0, 0, 0.853);
}

.delete-button {
    border: none;
    margin-bottom: 10px;
    background-color: rgba(255, 21, 21, 0.771);
    color: white;
    padding: 6px 38px;
}

.delete-button:hover {
    background-color: rgba(255, 21, 21, 0.867);
}

.alice-container {
    display: flex;
    justify-content: center;
    align-self: center;
    /* margin: 0 auto; */
}

.favorites-container > h2 {
    margin-left: 100px;
}

/* @media screen and (max-width: 1270px) {
    .gallery-container-user {
        background-size: 30%;
    }
}

@media screen and (max-width: 1000px) {
    .gallery-container-user {
        background-size: 35%;
    }
}

@media screen and (max-width: 750px) {
    .gallery-container-user {
        background-size: 42%;
    }
} */

@media screen and (max-width: 500px) {
    .item-card-user {
        margin-left: 40px;
    }
}
