.back-container {
    display: flex;
    font-size: 20px;
    padding: 10px;
    gap: 10px;
}

.item-details-page {
    margin: 80px auto;
    max-width: 1000px;
    /* border: 1px solid black; */
}

.item-details-container {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}

.item-details-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
}

.item-name {
    max-width: 90%;
    font-size: 24px;
    margin-left: 40px;
}

.item-details-image {
    width: 80%;
    height:80%;
    /* max-height: 300px; */
    border-radius: 14px;
}

.item-details-badge {
    align-self: center;
    width: 80px;
}

.price-and-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.item-details-add {
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    width: 90%;
    margin: 20px auto;
    padding: 10px 42px;
    font-size: 16px;
}

.item-details-add:hover {
    background-color: rgba(0, 0, 0, 0.829);
}

.item-details-remove {
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    background-color: rgb(221, 221, 221);
    width: 90%;
    margin: 20px auto;
    padding: 10px 42px;
    font-size: 16px;
}

.item-details-remove:hover {
    background-color: rgb(218, 218, 218);
}

.item-description {
    margin-left: 40px;
    max-width: 80%;
    /* margin: 100px auto; */
}

.heart-container {
    margin-left: 28px;
}

@media screen and (max-width: 500px) {
    .item-details-page {
        max-width: 400px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .item-details-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
