.slide-out-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: -1px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left:35px;
    width: 190px;
    height: 100%;
    transition: left 1s;
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    background-color: rgb(245, 245, 245);
    border-top: rgb(77, 76, 76) 1px solid;
    margin-left: -20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hidden-menu {
    left: -300px;
  }

  /* .fa-bars {
      color: blue;
      font-size: 32px;
  } */

  #bars {
    /* color: blue; */
    font-size: 24px;
  }
