.slide-out-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 54px;
    left: -1px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left:35px;
    width: 300px;
    height: 100%;
    transition: left 1s;
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    background-color: rgb(245, 245, 245);
    /* border-top: rgb(77, 76, 76) 1px solid; */
    margin-left: -20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 100pz;
  }

  .hidden-menu {
    left: -400px;
  }

  /* .fa-bars {
      color: blue;
      font-size: 32px;
  } */

  #bars {
    /* color: blue; */
    font-size: 24px;
  }

  .sidebar-modal {
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
  }

  .sidebar-modal:hover {
    border: none;
    background-color: none;
    background-color: rgb(231, 231, 231);
  }

  .modal-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;

  }

  /* .slide-out-menu > div {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .slide-out-menu > div:hover {
    background-color: rgb(231, 231, 231);
  } */

  .a-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    color: black;
  }

  .a-wrapper:hover {
    background-color: rgb(231, 231, 231);
  }

  .sidebar-button {
    display: flex;
    width: 100%;
    justify-content: center;
    border: none;
    background-color: rgb(243, 243, 243);
  }

  .sidebar-button:hover {
    background-color: rgb(231, 231, 231);
  }

  .greeting {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .slide-out-menu > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .slide-out-menu > div > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .signout-clear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
  }
