.slide-out-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 54px;
    left: -1px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left:35px;
    width: 300px;
    height: 100%;
    transition: left 1s;
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    background-color: rgb(245, 245, 245);
    /* border-top: rgb(77, 76, 76) 1px solid; */
    margin-left: -20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hidden-menu {
    left: -400px;
  }

  /* .fa-bars {
      color: blue;
      font-size: 32px;
  } */

  #bars {
    /* color: blue; */
    font-size: 24px;
  }

  .sidebar-modal {
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
  }

  .sidebar-modal:hover {
    border: none;
    background-color: none;
    background-color: rgb(231, 231, 231);
  }

  .slide-out-menu > div {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .slide-out-menu > div:hover {
    background-color: rgb(231, 231, 231);
  }

  .slide-out-menu > a {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    color: black;
  }

  .slide-out-menu > a:hover {
    background-color: rgb(231, 231, 231);
  }

  .slide-out-menu > button {
    display: flex;
    width: 100%;
    justify-content: center;
    border: none;
  }

  .slide-out-menu > button:hover {
    background-color: rgb(231, 231, 231);
  }

  .slide-out-menu > p {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .slide-out-menu > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
