.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    height: 100%;
}

.map-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 100%;
    height: 100%;
    padding: 0 16px;
    overflow-x: hidden;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(219, 219, 219);
    margin: 10px auto;
    /* border: 1px solid red; */
}

.cart-item-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 10px 10px 0 0;
    width: 100%;
    height: 40px;
}

.cart-item-info:hover {
    background-color: rgb(235, 234, 234);
}

.user-cart-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-size: 24px;
}

.user-cart-info-text {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 24px;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.image-trash-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-item-image {
    width: 50px;
}

#cart-trash {
    font-size: 18px;
    color: rgba(255, 1, 1, 0.774);
}

#cart-trash:hover {
    color: rgb(255, 0, 0);
}

.subtotal {
    font-size: 24px;
    font-weight: bold;
    padding-top: 40px;
    /* border-top: 1px solid rgb(219, 219, 219); */
}

.subtotal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-section {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.checkout-button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    padding: 10px 42px;
}

.checkout-button-disabled {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    padding: 10px 42px;
}

.checkout-button:hover {
    background-color: rgba(0, 0, 0, 0.865);
}

.add-items-button {
    border: none;
    margin-bottom: 10px;
    background-color: rgb(226, 226, 226);
    padding: 10px 42px;
}

.add-items-button:hover {
    background-color: rgb(219, 219, 219);
}

.clear-button {
    margin-bottom: 10px;
    border: none;
    background-color: rgba(255, 0, 0, 0.829);
    color: white;
    padding: 2px 42px;
}

.clear-button:hover {
    background-color: rgba(255, 0, 0, 0.924);
}
