.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    width: 100%;
    height: 100vh;
    /* background-image: url("https://supercleats-pics.s3.amazonaws.com/ezgif.com-gif-maker+(2).gif"); */
    background-image: url("https://supercleats-pics.s3.amazonaws.com/splash1.jpg");
    /* background-image: url("https://supercleats-pics.s3.amazonaws.com/splash6.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.splash-text {
    color: white;
    font-size: 44px;
}

.splash-teams{
    display: flex;
    width: 30%;
    /* overflow-x: scroll; */
}

.splash-teams::-webkit-scrollbar {
    height: 14px;
    border-radius: 10px;
}

.splash-teams::-webkit-scrollbar-track {
    background-color: none;
}

.splash-teams::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
}

/* .splash-team-card {
    width: 100px;
} */

.splash-badge {
    width: 100px;
}

/* .landing-image {
 width: 160%;
} */
