.delete-modal {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-buttons-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.yes-button {
    margin-bottom: 10px;
    background-color: black;
    color: white;
    padding: 10px 42px;
}

.no-button {
    border: none;
    margin-bottom: 10px;
    background-color: rgb(226, 226, 226);
    padding: 10px 42px;
}

.countdown {
    padding: 4px 110px;
    font-size: 78px;
    font-weight: bold;
}
