.edit-item-container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 0px 200px 20px 200px;
    background-color: white;
    transition: left 1s;
}

.edit-item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-item-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-img-tag {
    width: 180px;
    align-self: center;
    padding: 20px 0;
}

.error-container {
    color: red;
    height: 150px;
}

.submit-button {
    margin-bottom: 10px;
    background-color: black;
    color: white;
    padding: 10px 42px;
}

.cancel-button {
    background-color: white;
    border: none;
}
