.filter-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* min-width: 300px; */
    margin: 10px 0px;
    /* border: 1px solid black; */
    width: 300px;
}

.filter-container > div {
    margin: 20px 0;
}

.filter-top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-filter {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    font-weight: bold;
    /* gap: 5px; */
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
}

.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    min-width: 60px;
    height: 30px;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
}

.type-tag {
    font-size: 24px;
}

.price-tag {
    font-size: 24px;
}
.team-tag {
    font-size: 24px;
}

.filter-teams {
    display: flex;
}

.filter-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 5px; */
    margin: 0 auto;
}

.filter-middle > div {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* gap: 5px; */
    align-self: center;
}

/* .filter-middle > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    min-width: 60px;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 20px;
    background-color: rgb(225, 225, 225);
} */

.filter-bottom {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.team-select-field {
    height: 40px;
    box-shadow: 2px 2px 2px grey;
    border: 1px solid grey;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    /* margin: 0 20px; */
}
