.filter-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    /* min-width: 300px; */
}

.filter-container > div {
    margin: 20px 0;
}

.type-filter {
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.type-filter > li {
    width: fit-content;
    padding: 10px 20px;
    margin: 4px 0;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
}

.type-tag {
    font-size: 28px;
}

.price-tag {
    font-size: 28px;
}
.team-tag {
    font-size: 28px;
}

.filter-teams {
    display: flex;
}

.filter-middle {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.filter-middle > div {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(225, 225, 225);
}
