.filter-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* min-width: 300px; */
}

.filter-container > div {
    margin: 20px 0;
}

.filter-top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-filter {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    /* border: 1px solid black; */
}

.type-filter > li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    padding: 2px 2px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
}

.type-tag {
    font-size: 24px;
}

.price-tag {
    font-size: 24px;
}
.team-tag {
    font-size: 24px;
}

.filter-teams {
    display: flex;
}

.filter-middle {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.filter-middle > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 20px;
    background-color: rgb(225, 225, 225);
}
