.team-gallery {
    display: flex;
    /* padding: 30px 0; */
    justify-content: center;
    margin-top: 80px;
}

.badge-gallery {
    display: flex;
    gap: 10px;
}

.team-card {
    /* border-radius: 50%;
    background-color: rgb(163, 162, 162); */
    border-radius: 50%;
    /* transition: background-color .5s; */
}

.team-card:hover {
    border-radius: 50%;
    background-color: rgb(194, 194, 194);
}

.team-img {
    width: 70px;
}
