.filter-items-container {
/* display: grid;
grid-template-columns: 1fr 2fr; */
display: flex;
justify-content: center;
/* width: 100vh; */
/* border: 1px solid black; */
}

.filter-app {
    width: 25%;
}

.items-app {
    width: 75%;
}

@media screen and (max-width: 800px) {
    .filter-app {
        display: none;
    }
}
