* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

#root {
    overflow-x: hidden;
}

.scrollable-x {
    overflow-x: scroll;
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
}

.scrollable-x::-webkit-scrollbar {
    height: 14px;
    border-radius: 10px;
}

.scrollable-x::-webkit-scrollbar-track {
    background-color: white;
}

.scrollable-x::-webkit-scrollbar-thumb {
    border: 1px solid rgb(158, 158, 158);
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
}

.scrollable-y {
    overflow-y: scroll;
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
}

.scrollable-y::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.scrollable-y::-webkit-scrollbar-track {
    background-color: white;
}

.scrollable-y::-webkit-scrollbar-thumb {
    border: 1px solid rgb(158, 158, 158);
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
}

.text-cushion {
    height: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

li {
    list-style: none;
}

label {
    display: flex;
    flex-direction: column;
}

select {
    box-shadow: 2px 2px 2px grey;
    border: 1px solid grey;
    outline: none
}

input {
    box-shadow: 2px 2px 2px grey;
    border: 1px solid grey;
    outline: none
}

.alice-carousel__next-btn-item.__inactive {
color: pink;
}
.alice-carousel__prev-btn-item.__inactive {
color: green;
}

.alice-carousel__play-btn-item.__pause {
    color: blanchedalmond
}

.alice-carousel__dots-item.__active {
    color: yellow;
}
.alice-carousel__dots-item.__custom {

    color: yellow;
}
