* {
    font-family: Arial, Helvetica, sans-serif;
}

.scrollable-x {
    overflow-x: scroll;
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
}

.scrollable-x::-webkit-scrollbar {
    height: 14px;
    border-radius: 10px;
}

.scrollable-x::-webkit-scrollbar-track {
    background-color: white;
}

.scrollable-x::-webkit-scrollbar-thumb {
    border: 1px solid rgb(158, 158, 158);
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
}

.text-cushion {
    height: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

li {
    list-style: none;
}

label {
    display: flex;
    flex-direction: column;
}
