.tickets-container {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    font-size: 16px;
}

.ticket-carousel {
    margin: 0 auto;
    width: 40%;
}

.ticket-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 24px;
    width: 290px;
    height: 260px;
    margin: 0 auto;
    background-color: white;

}

.ticket-img {
    width: 100%;
    height: 140px;
    border-radius: 24px 24px 0 0;
}

.map-container {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .tickets-container {
        flex-direction: column;
    }
    .ticket-carousel {
        width: 100%;
    }
}
