.profile-dropdown {
  position: absolute;
  right: 0;
}

.hidden {
  display: none;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 5px 0;
  margin: 0 auto;
  top: 0;
  z-index: 2;
  background-color: white;
}

.nav-right-side-logged-in {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 24%;
}

.nav-right-side-logged-out {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.nav-left-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.pill-shape {
  display: flex;
  border-radius: 50px;
  /* border: 1px solid red; */
  background-color: aliceblue;
  overflow: hidden;
}

.products {
  padding: 10px;
  background-color: whitesmoke;
  transition: background-color .5s ease;
  border: none;

}

.tickets {
  padding: 10px;
  background-color: whitesmoke;
  transition: background-color .5s ease;
  border: none;
}

.filled {
  border: none;
  background-color: rgba(226, 226, 226, 0.842);
  transition: background-color .5s ease;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button-nav {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.signup-button-nav {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.login-button-nav:hover {
  background-color: rgb(233, 233, 233);
}

.signup-button-nav:hover {
  background-color: rgba(0, 0, 0, 0.815);
}

.cart-button-nav {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.cart-button-nav:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.cart-section-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorite-team-nav {
  width: 50px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  gap: 2px;
  font-weight: bold;
}

.cleats {
  font-size: 22px;
}

@media screen and (max-width: 500px) {
  .nav-ul {
    /* padding: 0 60px; */
    margin: 0 auto;
  }
  .nav-right-side-logged-in {
    width: 50%;
    padding-right: 10px;
  }
  .nav-right-side-logged-out {
    width: 50%;
    padding-right: 10px;
  }
  .nav-left-side {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 50%;
    padding-left: 10px;
  }
  .favorite-team-nav {
    display: none;
  }
  .user-profile-button {
    display: none;
  }
}
