.gallery-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    height: 100%;
}

.item-gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;
    /* height: 1200px; */
    /* max-width: 1000px; */
    /* border: 1px solid black; */
}

.card-img {
    width: 230px;
    margin: auto 0;
}

.item-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 260px;
    min-height: 280px;
    margin: 6px 4px;
    padding: 0 10px 20px 10px;
    border-radius: 20px;
    background-color: white;
    transition: box-shadow .5s ease-in;
    height: 700px;
}

.item-card:hover {
    box-shadow: 3px 3px 6px 6px rgb(194, 194, 194);
}

.inner-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 240px;
    min-height: 280px;
    margin: 6px 4px;
    padding: 0 10px 20px 10px;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.inner-card:hover {
    box-shadow: none;
}

.type-header {
    font-size: 32px;
    align-self: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}


.cleats-gallery {
    display: flex;
    width: 100%;
    height: 800px;
    gap: 20px;
}

.ball-gallery {
    display: flex;
    width: 100%;
    gap: 20px;
}

.socks-gallery {
    display: flex;
    width: 100%;
    gap: 20px;
}

.item-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.card-badge {
    position: relative;
    top: 60px;
    left: 160px;
    width: 80px;
}

.manage {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .item-card {
        margin-left: 80px;
    }
}
