.card-img {
    width: 320px;
}

.type-header {

}

.item-gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid black;
}

.cleats-gallery {
    display: flex;
    border: 1px solid black;
    width: 70%;
    overflow: scroll;
    gap: 20px;
}

.ball-gallery {
    display: flex;
    border: 1px solid black;
    width: 70%;
    overflow: scroll;
    gap: 20px;
}

.socks-gallery {
    display: flex;
    border: 1px solid black;
    width: 70%;
    overflow: scroll;
    gap: 20px;
}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    margin: 10px auto;
    border: 1px solid black;
    /* box-shadow: 2px 2px 2px grey; */
}
