.card-img {
    width: 230px;
    margin: auto 0;
}

.type-header {
    font-size: 32px;
    align-self: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.item-gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid rgb(235, 235, 235);
    width: 70%;
}

.cleats-gallery {
    display: flex;
    width: 100%;
    gap: 20px;
}

.ball-gallery {
    display: flex;
    width: 100%;
    gap: 20px;
}

.socks-gallery {
    display: flex;
    width: 100%;
    gap: 20px;
}

.item-card {
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    justify-content: space-between;
    width: 340px;
    min-height: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    transition: box-shadow .5s ease-in;
}

.item-card:hover {
    /* border: 1px solid black; */
    box-shadow: 1px 1px 6px rgb(194, 194, 194);
    /* counter balance 1px border shift */
    /* padding: 9px; */
}

.item-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-self: flex-end; */
    /* max-height: 60px; */
}
