.gallery-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    /* height: 100%; */
}

.item-gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;
    /* height: 1200px; */
    /* max-width: 1000px; */
    /* border: 1px solid black; */
}

.card-img {
    width: 230px;
    margin: auto 0;
}

.item-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    /* max-width: 280px; */
    min-height: 400px;
    height: 500px;
    margin: 6px 4px;
    padding: 0 10px 20px 14px;
    border-radius: 20px;
    background-color: white;
    transition: box-shadow .3s ease-in;
    /* height: 700px; */
    overflow-y: hidden;
}

.item-card:hover {
    box-shadow: 3px 3px 6px 6px rgba(194, 194, 194, 0.554);
}

.inner-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
    min-height: 280px;
    margin: 6px 4px;
    padding: 0 10px 20px 10px;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.inner-card:hover {
    box-shadow: none;
}

.type-header {
    font-size: 36px;
    margin-left: 40px;
    align-self: flex-start;
    border-bottom: 1px solid rgb(206, 206, 206);
}


.cleats-gallery {
    display: flex;
    width: 100%;
    /* height: 800px; */
    gap: 20px;
    overflow-y: hidden;
}

.ball-gallery {
    display: flex;
    width: 100%;
    gap: 20px;
    overflow-y: hidden;
}

.socks-gallery {
    display: flex;
    width: 100%;
    gap: 20px;
    overflow-y: hidden;
}

.item-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.card-badge {
    position: relative;
    top: 60px;
    left: 160px;
    width: 80px;
}

.manage {
    width: 100%;
}

.no-filter-found {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
    width: 80%;
    margin: 0 auto;
    height: 524px;
    font-size: 60px;
}

.add-to-cart {
    border: none;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    padding: 10px 42px;
}

.add-to-cart:hover {
    background-color: rgba(0, 0, 0, 0.86);
}

.remove-from-cart {
    border: none;
    margin-bottom: 10px;
    background-color: rgb(226, 226, 226);
    padding: 10px 42px;
}

.remove-from-cart:hover {
    background-color: rgb(216, 216, 216);
}

@media screen and (max-width: 700px) {
    /* .item-card {
        margin-left: 80px;
    } */
}
