.form-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 100px 0px 100px;
    border-radius: 20px;
}

label {
    margin: 10px 0;
    align-self: flex-start;
}

input {
    min-width: 200px;
}

select {
    min-width: 200px;
}

.modal-padding-bottom {
    padding-bottom: 100px;
}
