.searchbar {
    height: 18px;
    padding: 6px;
    border-radius: 20px;
    width: 380px;
}

.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 160px;
    padding: 20px 0;
    background-color: rgb(250, 250, 250);
    width: 100%;
    transition: top .6s ease-out;
    z-index: -1;
}

.results-hidden {
    top: -800px;
    left: 0;
}

.results-visible {
    top: 44px;
    left: 0;
}

.result-card {
    background-color: rgb(250, 250, 250);
    width: 500px;
}

.result-card-ticket {
    background-color: rgb(250, 250, 250);
    width: 600px;
}
