.slide-out-cart {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0px;
    padding: 20px 30px;
    width: 400px;
    height: 90%;
    transition: right 1s;
    text-decoration: none;
    list-style: none;
    background-color: rgb(251, 251, 251);
    box-shadow: 2px 2px 2px 2px rgb(241, 241, 241);
    /* border-top: rgb(77, 76, 76) 1px solid; */
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hidden-cart {
    right: -600px;
  }

  #cart {
    font-size: 24px;
  }

  @media screen and (max-width: 1300px) {
    .slide-out-cart {
      width: 300px;
    }
  }

  @media screen and (max-width: 1000px) {
    .slide-out-cart {
      width: 200px;
    }
  }

  @media screen and (max-width: 700px) {
    .slide-out-cart {
      width: 180px;
    }
}
