.slide-out-cart {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    right: 0px;
    padding: 20px 30px;
    width: 520px;
    height: 90%;
    transition: right 1s;
    text-decoration: none;
    list-style: none;
    background-color: rgb(247, 247, 247);
    border-top: rgb(77, 76, 76) 1px solid;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hidden-cart {
    right: -600px;
  }

  #cart {
    font-size: 24px;
  }
