.favorite-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.95);
    width: 400px;
    height: 200px;
    border-radius: 20px;
    padding: 5px;
    margin: 0 10px;
}

.story {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    overflow-y: scroll;
    margin: 0 auto;
}
