.items-header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
}

.items-header {
    display: flex;
    /* border: 1px solid black; */
    border-radius: 24px;
    width: 30%;
    /* padding: 5px; */
    height: 240px;
    background-color: rgba(255, 175, 26, 0.952);
}

.items-header-image {
    border-radius: 0 24px 24px 0;
    width: 240px;
    height: 100%;
}

.text-container {
    overflow-x: hidden;
}

.text-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.text-container::-webkit-scrollbar-track {
    background-color: white;
}

.text-container::-webkit-scrollbar-thumb {
    border: none;
    background-color: white;
    border-radius: 20px;
}

.items-header-text {
    margin: 10px;
    padding: 5px;
    font-size: 26px;
    font-weight: bold;
}

.items-header-small-text {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}


/* @media screen and (max-width: 1000px) {
    .items-header-container {
        display
    }
} */
