.items-header-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    margin: 80px 0 20px 0;

}

.items-header {
    display: flex;
    width: 65%;
    /* min-width: 70%; */
    /* border: 1px solid black; */
    border-radius: 24px;
    /* padding: 5px; */
    margin: 0 auto;
    height: 240px;
    background-color: rgba(255, 175, 26, 0.952);
}

.items-header-image {
    border-radius: 0 24px 24px 0;
    min-width: 290px;
    height: 100%;
}

.text-container {
    /* min-width: 100px;
    max-width: 200px; */
    overflow-x: hidden;
    overflow-y: scroll;
}

.text-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    /* background-color: white; */
}

.text-container::-webkit-scrollbar-track {
    background-color: white;
}

.text-container::-webkit-scrollbar-thumb {
    border: none;
    background-color: white;
    border-radius: 20px;
}

.items-header-text {
    margin: 10px;
    padding: 5px;
    font-size: 26px;
    font-weight: bold;
}

.items-header-small-text {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}


@media screen and (max-width: 1400px) {
    .items-header {
        max-height: 200px;
        max-width: 600px;
        justify-content: center;
    }
    .items-header-image {
        border-radius: 0 24px 24px 0;
        min-width: 140px;
        /* max-width: 200px; */
        height: 100%;
    }
    .text-container {
        min-width: 180px;
    }

}

@media screen and (max-width: 500px) {
    .items-header {
        max-height: 200px;
        max-width: 300px;
        justify-content: center;
    }
    .items-header-image {
        border-radius: 0 24px 24px 0;
        min-width: 140px;
        height: 100%;
    }
    .text-container {
        min-width: 110px;
        padding: 0 10px 0 70px;
    }

}
