.add-item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-item-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 400px;
    /* height: 500px; */
}

.error-container {
    color: red;
    height: 150px;
}
