.add-item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 100px 0px 100px;
}
.form-modal-container {
    padding-bottom: 100px;
}

.add-item-inputs {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
    /* height: 500px; */
}

.error-container {
    color: red;
    height: 160px;
    max-width: 200px;
}
